body{
    background: linear-gradient(89deg, #CDF0EA 70%, #CAF7E3 100%);
}

.alphabet-grid {
  border: 2px solid black;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #fcf8e8;
  padding: 10px;
}

.disable {
  pointer-events: none;
}

.green {
  background-color: green;
}

.hangedMan-life-container {
  height: auto;
  border: 2px solid black;
}

.hangedMan-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  border-right: 2px solid black;
  background-color: white;
}

.hangedMan-item,
.hangedMan-item3 {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}

.hangedMan-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: right;
}

.hangedMan-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: left;
}

.Hint-progression-playerChoices {
  border-top: 2px solid black;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 50px;
}

.lifeCount {
  position: relative;
  top: 60px;
}

@media (min-width: 1200px) {
  .hangedMan-item2 {
    position: relative;
    right: 50px;
  }

  .hangedMan-item1 {
    position: relative;
    left: 50px;
  }
}

.player-clickable-alphabets {
  background-color: rgba(67, 186, 213, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.player-clickable-alphabets:hover {
  background-color: white;
}

.red {
  background-color: red;
}

#resetButton-div {
  padding: 10px;
}

.rightOrWrong {
  border: 3px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.rows-category, .rows-difficulty {
  border: 1px solid black;
}

.select-category {
  padding-top: 5px;
  padding-bottom: 5px;
}

.select-difficulty {
  padding-top: 5px;
  padding-bottom: 5px;
}

